body {
  padding: 0;
  margin: 0;
  background: #be93c5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #7bc6cc,
    #be93c5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #7bc6cc,
    #be93c5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.MuiLinearProgress-bar.MuiLinearProgress-barColorPrimary.MuiLinearProgress-bar1Determinate {
  background: #be93c5 !important;
}

@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

.main-heading {
  font-family: "Permanent Marker", cursive !important;
  font-size: 50px !important;
}

@media (max-width: 500px) {
  .main-heading {
    font-size: 30px !important;
  }
}
